

.container-eventos__botao {
    background: #4650BD;
    box-shadow: 4px 4px 0px #444444;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: .25em;
	width: 220px;
	color: #ffff;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;

    margin: 1em 7.5em;
}




.containner__datas {
	display: flex;
	justify-content: space-around;
	padding: 1.5em;
	
	
	
}

.secaoDeDatas {
	
	text-align: center;
	
}



.secaoDeDatas__titulo {
	font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    padding: 1em 0;
	font-family: 'Raleway', sans-serif;
	color: #ffff;
	width: 392px;
	margin-left: 65px;
	
}

.secaoDeDatas__texto { 
	width: 540px;
	font-weight: 500;
    font-size: 20px;
    line-height: 40px;
	font-family: 'Raleway', sans-serif;
	color: #ffff;
	margin-right: 90px;
	
}

.line-up {
	
	text-align: center;
}

.line-up__titulo {
	padding: 1em;
	text-align: center;
	color: #ffff;
	font-size: 64px;
	font-family: 'Calistoga', cursive;
	

}

.line-up__logo {
	display: flex;
	margin-left: 12%;
	margin-top: 3%;
	text-align: center;


}

.line-up__bandas {
	font-family: 'Raleway', sans-serif;
	color: #ffff;
	text-align: center;
	flex-wrap: wrap;
}

.line-up__bandas__principal {
	font-size: 48px;
	margin-top: 3%;
	font-weight: 800;
	
}

.line-up__bandas__principal__2 {
	font-size: 40px;
	margin-top: 3%;
	font-weight: bold;
	
	
}

.line-up__bandas__principal__3 {
	font-size: 32px;
	margin-top: 3%;
	font-weight: bold;
	
}

.line-up__bandas__principal__4 {
	font-size: 32px;
	margin-top: 3%;
	font-weight: 500;
	margin-bottom: 3%;

}

.imagem-guitar {
	width: 100%;
	margin-bottom: -25px;
	
}






	
	
	





