
.banner{
	width: 100%;
	box-sizing: border-box;
}

.containner__acess {
	margin: 7%;
    display: flex;
    align-items: center ;
    justify-content: space-around;
	
}

.acessibilidade {
	
	text-align: left;
	line-height: 1.9;

}

.acessibilidade__titulo {
	width: 388px;
	font-size: 32px;
	font-weight: 700;
	text-align: left;
	color: #ffff;
	font-family: 'Raleway', sans-serif;
}

.acessibilidade__texto { 
	width: 570px;
	font-size: 20px;
	font-weight: 500;
	font-family: 'Raleway', sans-serif;
	color: #ffff;
	
}

.containner__sust {
	margin: 7%;
    display: flex;
    align-items: center ;
    justify-content: space-around;
	
}

.sustentabilidade {
	
	text-align: right;
	line-height: 1.9;

}

.sustentabilidade__titulo {
	width: 388px;
	margin-left: 32%;
	font-size: 32px;
	text-align: right;
	font-weight: 700;
	color: #ffff;
	font-family: 'Raleway', sans-serif;
}

.sustentabilidade__texto { 
	width: 570px;
	font-size: 20px;
	font-weight: 500;
	font-family: 'Raleway', sans-serif;
	color: #ffff;
	
}

.containner__atracoes {
	margin: 7%;
    display: flex;
    align-items: center ;
    justify-content: space-around;
	
}

.atracoes {
	
	text-align: left;
	line-height: 1.9;

}

.atracoes__titulo {
	width: 388px;
	font-size: 32px;
	font-weight: 700;
	text-align: left;
	color: #ffff;
	font-family: 'Raleway', sans-serif;
}

.atracoes__texto { 
	width: 570px;
	font-size: 20px;
	font-weight: 500;
	font-family: 'Raleway', sans-serif;
	color: #ffff;
	
}



