

.containner__setores {
	display: flex;
	margin: 3%;
	align-items: center;
	justify-content: space-around;
	
}

.setores__titulo {
	font-family: 'Raleway', sans-serif;
	font-size: 32px;
	color: #ffff;
	width: 144px;
}

.setores__legenda {
	list-style: none;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	color: #ffff;
	line-height: 3.85;
	
	
	
	
}

.legenda__lista {
	display: flex;
	flex-direction: column;
}

.legenda__containner {
	
		width: 60%;
		margin: 0px 160px;
		box-sizing: border-box;
		display: block;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		padding-top: 1rem;
}

.retangulo__containner {
	display: flex;
	flex-direction: column;
	line-height: 5;
	margin-right: 8%;
}

.reta__leg {
	display: flex;
}

.titulo__detalhes {

	text-align: center;
	font-family: 'Raleway', sans-serif;
	color: #ffff;
	font-size: 40px;
	font-weight: 700;
	margin: 5%;

}


.detalhes {
	display: flex;
	flex-direction: column;
	margin-left: 6%;
	text-align: center;
	
}

.detalhes__pista__premium {
	display: flex;
	flex-direction: column;
	margin-left: 6%;
	text-align: center;
	margin-top: 8%;
	margin-bottom: 5%;
}

.img__pista {
	width: 382.4px;

}

.detalhes__titulo {
	font-size: 32px;
	font-family: 'Raleway', sans-serif;
	color: #ffff;
	margin-top: 2%;
	width: 383px;


}

.detalhes__texto {
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	color: #ffff;
	margin-top: 1%;
	font-weight: 500;
	width: 383px;
	
}

.containner__detalhes {
	display: flex;
}

