#titulo-form {
	

font-family: 'Calistoga';
font-weight: 400;
font-size: 48px;
text-align: center;
color: #ffff;
padding: 3%;
}


.grupo  {
    display: flex;
    flex-direction: column;
	align-items: flex-end;
    width: 70vw;
    margin: 0 auto;
}

.grupo label {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin-top: 1em;
	font-family: 'Raleway';
	color: #ffff;
	font-size: 32px;
}
 
label {
	
}

.titulo-form-2 {
	padding: 1.2em;
	width: 90%;
	
}

.tipo-data {
	display: flex;
	justify-content: space-around;
	margin-right: 17px;
	padding-top: 1em;
}

#tipo-ingresso {
	margin-right: 39px;
}

.grupo input,
select {
    box-sizing: border-box;
    padding: 1em;
    width: 100%;
	margin-top: 1em;
}



button {
    background: #4650BD;
    box-shadow: 4px 4px 0px #000000;
    border-radius: 16px;
    border: none;
    width:168px;
	height: 38px;
    padding: 0.1em;
	padding-bottom: 25px;
    color: var(--branco);
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    font-family: 'Raleway';
    margin: 1em auto;
    cursor: pointer;
	color: #ffff;
	
	
	
	
}

.container-botao {
  width: 100%;
  max-width: 100px;
  margin: 25px auto;
  text-align: center;
}



button i {
    margin-left: 1em;
	
}